html {
  background: #ededed; }

body {
  margin: 0; }

.webfont {
  font-family: Lato, Helvetica, sans-serif; }

figure {
  margin: 0; }

.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.container, .odif-compare__container, .odif-compare-navbar__container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem; }
  @media only screen and (min-width: 48em) {
    .container, .odif-compare__container, .odif-compare-navbar__container {
      position: relative;
      width: 45rem; } }

.odif-trending-item, .odif-trending-item--first, .odif-trending-item--second, .odif-trending-item--third {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.odif-splashscreen--intro, .odif-splashscreen--wodefd, .odif-compare {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.odif-trending-item, .odif-trending-item--first, .odif-trending-item--second, .odif-trending-item--third {
  box-sizing: border-box; }

.odif-splashscreen--intro, .odif-splashscreen--wodefd {
  background: no-repeat center bottom;
  background-size: contain;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .odif-splashscreen--intro__loader-container, .odif-splashscreen--wodefd__loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.odif-splashscreen--intro {
  background-color: #221d3a;
  background-image: url("images/splashscreen.jpg"); }
.odif-splashscreen--wodefd {
  background-color: #a3666e;
  background-position: center center;
  background-image: url("images/wodefd.jpg"); }

.odif-compare {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .odif-compare__container {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    @media only screen and (min-width: 48em) {
      .odif-compare__container {
        margin-right: auto;
        margin-left: auto; } }

.odif-compare-navbar {
  overflow: hidden;
  background-color: #a3666e;
  color: white;
  margin-bottom: 1rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .odif-compare-navbar__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 4em; }
  .odif-compare-navbar__button {
    color: inherit;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding: 0 1rem; }
    .odif-compare-navbar__button > .fa {
      margin-right: .5rem; }

.odif-compare-ring {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 1rem;
  background: white; }
  .odif-compare-ring__figure-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #dedede;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .odif-compare-ring__figure {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: #ededed no-repeat center center;
    background-size: contain; }
    .odif-compare-ring__figure:first-child {
      border-right: 1px solid #dedede; }
  .odif-compare-ring__figure-caption {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    border-top: 1px solid #dedede;
    background: white;
    text-align: center;
    height: 2rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600; }
    .odif-compare-ring__figure-caption--negative {
      color: red; }
    .odif-compare-ring__figure-caption--positive {
      color: green; }
    .odif-compare-ring__figure-caption:first-child {
      border-right: 1px solid #dedede; }
  .odif-compare-ring__referee {
    margin: 2rem 0; }

.odif-compare-next-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0;
  -wekbit-appereance: initial;
  -moz-appearance: initial;
  height: 4rem;
  background: #ee8689;
  color: white;
  margin-top: 1.1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase; }

.odif-compare-decompte {
  text-align: right;
  font-size: .8rem; }

.odif-trending-header {
  overflow: hidden;
  background-color: #221d3a;
  color: white;
  margin-bottom: 1rem;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .odif-trending-header__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 144px;
    font-size: 2rem;
    margin-left: 2rem; }

.odif-trending-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 1rem;
  background: white; }

.odif-trending-item, .odif-trending-item--first, .odif-trending-item--second, .odif-trending-item--third {
  background: no-repeat center top;
  background-size: cover;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  text-decoration: none; }

.odif-trending-item {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
  height: 9rem; }
  .odif-trending-item--first {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    height: 20rem; }
  .odif-trending-item--second, .odif-trending-item--third {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
    height: 10rem;
    margin-bottom: 1rem; }
  .odif-trending-item__caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 3rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%);
    font-size: 1.5rem; }
    .odif-trending-item__caption > .fa {
      margin-right: .5rem; }

.odif-trending-action-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0;
  -wekbit-appereance: initial;
  -moz-appearance: initial;
  position: fixed;
  bottom: 1rem;
  right: .5rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background-color: #f44034;
  color: rgba(255, 255, 255, 0.84);
  border-radius: 100%;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 15px;
  font-size: 26px;
  width: 56px;
  height: 56px; }
  @media only screen and (min-width: 48em) {
    .odif-trending-action-button {
      position: relative;
      bottom: -1.5rem;
      right: 1.5rem; } }
  .odif-trending-action-button > .fa {
    -webkit-transform: translate(0, -3px);
        -ms-transform: translate(0, -3px);
            transform: translate(0, -3px); }

.odif-trending-footer {
  background-color: #221d3a;
  color: white;
  padding: 2rem 0 1rem;
  margin-top: 2rem; }
