//
//== Normalize
//------------------------------------------------------------------------------

html {
  background: $light-gray;
}

body {
  margin: 0;
}

.wf-active {
  font-family: 'Ubuntu', Helvetica, sans-serif;
}

figure {
  margin: 0;
}
